{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block title %}
Post Detail 
{% endblock %}



{% block content %}
{% if messages %}

{% for message in messages%}
<p class='text-danger'>{{message}}</p>

{% endfor %}
{% endif %}

<h1>{{post.title}}</h1>
<p>Author: {{post.created_by.first_name}}</p>
<p>Created_at: {{post.modified_at}}</p>

<p>{{post.content}}</p>

{% if user.email == post.created_by.email %}
<a href="{% url 'delete' post.post_id %}" class='btn-danger'>Delete</a>
<a href="{% url 'update' post.post_id %}" class="btn-primary">Update</a>
{% endif %}

<hr>
{% if comments %}
{% for comment in comments %}
{{comment.comments}}
<p>by {{comment.commented_by}}</p>
<hr>
<br>
{% endfor %}
{% else %}

<p>No comments</p>

{% endif %}

<form method='post'>
<h1>Add your comment here:</h1>
{% csrf_token %}

{{form|crispy}}
<input type="submit" value='Comment'>
</form>


<a href="{% url 'list' %}">Go Back</a>
{% endblock %}

